* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


body {
  font-family: Arial, sans-serif;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* <!--- ESTILOS - tienda-.html ---> */
.contenedor-tienda {
  display: grid;
  grid-template-columns: 1.3fr 4fr;
}

/* contenedor de los filtros de los productos */
aside {
  background-color: #f1baba;
  position: sticky;
  top: 150px;
  left: 0;
  height: calc(100vh - 150px);
  padding: 20px;
  border: solid 2px #2ecc71;
}

#busqueda-categoria {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
}


aside h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}

/* estilos del filtro por marcas */

#alternar-marcas {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
}

#alternar-marcas:focus {
  outline: none;
}

#marcas {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


#marcas.oculto {
  display: none;
}



/* falta agregarlo en el script */
.marca-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.marca-item:hover {
  background-color: #eaf4ea;
  /* Color de fondo al pasar el ratón */
}

/* Estilo para los checkboxes */
.marca-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Estilo para las etiquetas (labels) */
.marca-item label {
  font-size: 1.1rem;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* ------------------------- */



/* estilos del filtro por memoria ram */

#alternar-ram {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
}

#alternar-ram :focus {
  outline: none;
}

#ram {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


#ram.oculto {
  display: none;
}

.ram-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}







/* <!--- ESTILOS - CARD DE PRODUCTOS - tienda-.html ---> */
#productos {
  border: solid red 3px;
  padding: 0 20px;
}

#productos h2 {
  border: solid green 3px;
  padding: 20px;
}


/* lista de productos */
#lista-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 20px;
}

#lista-productos li {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#lista-productos li:hover {
  background-color: #e5e5e5;
}

.producto-imagen {
  width: 100%;
  max-width: 200px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 10px;
}


.nombre-marca {
  color: #4c4c4c;
  font-size: 14px;
  text-align: left;
  margin-bottom: 10px;

}

.nombre-producto {
  font-size: 16px;
  color: #333;
  height: 40px;
}

.precio-producto {
  color: red;
  font-size: 20px;
}




/* Estilo básico del botón agregar*/
.boton-agregar {
  position: relative;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  height: 40px;
}

/* Oculta el ícono por defecto */
.boton-agregar .boton-icono {
  display: none;
  font-size: 16px;
}

/* Muestra el texto por defecto */
.boton-agregar .boton-texto {
  display: inline-block;
}

/* Efecto hover: mostrar ícono y ocultar texto */
.boton-agregar:hover .boton-icono {
  display: inline-block;
}

.boton-agregar:hover .boton-texto {
  display: none;
}



/* MEDIA QUERIES*/
@media (max-width: 768px) {
  #lista-productos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  #lista-productos {
    grid-template-columns: 1fr;
  }
}




/* <!--- ESTILOS - carrito.html ---> */
#lista-carrito {
  list-style: none;
  padding: 0;
  margin: 0;
}

#lista-carrito li {
  background-color: #f7f7f7;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

#tabla-carrito {
  width: 100%;
  border-collapse: collapse;
}

#tabla-carrito th,
#tabla-carrito td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

#tabla-carrito th {
  background-color: #f2f2f2;
}

#total-carrito {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  text-align: right;
}

/* contenedor productos del carrito*/
.carrito-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;
}

.imagen-carrito {
  width: 80px;
  height: auto;
  object-fit: cover;
}


.productos {
  flex: 3;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* contenedor resumen productos del carrito*/
.resumen {
  flex: 1;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Buttons */
.btn-continuar {
  display: block;
  width: 100%;
  padding: 0.8rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.btn-continuar:hover {
  background-color: #0056b3;
}






